<div class="container">
  <div class="container-child">
    <!-- Bên trái: Form đăng nhập -->
    <div>
      <!-- <h2 style="text-align: center;margin-top: 20px;">Đăng nhập</h2> -->
      <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
        <!-- <div>
          <label>Tên đăng nhập:</label>
          <input type="text" name="username" [(ngModel)]="username" required />
        </div>
        <div>
          <label>Mật khẩu:</label>
          <input type="password" name="password" [(ngModel)]="password" required />
        </div> -->
        <div class="input-group">
            <i class="fa fa-user"></i>
            <input type="text" name="username" [(ngModel)]="username" required placeholder="Tên đăng nhập" />
          </div>

          <div class="input-group">
            <i class="fa fa-lock"></i>
            <input type="password" name="password" [(ngModel)]="password" required placeholder="Mật khẩu" />
          </div>

        <button type="submit" [disabled]="!loginForm.form.valid">Đăng nhập</button>
      </form>
    </div>

    <!-- Bên phải: Ảnh -->
    <div>
      <img src="assets/icons/travel_pin1.png" alt="Login illustration">
    </div>
  </div>
</div>
